<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://api.fontshare.com/v2/css?f[]=boska@400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&f[]=panchang@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body style="font-family: 'Satoshi', sans-serif;" class="bg-[#FFFAF7]">
    <section class="bg-[#FFFAF7] ">
        <header class="p-4 text-gray-800">
            <div class="container flex justify-between h-16 mx-auto">
                <div class="flex">
                    <a rel="noopener noreferrer" href="/" aria-label="Back to homepage" class="flex items-center p-2">
                        <img src="{{url_for('static', filename='logo.png')}}" class=w-16>
                    </a>
                    <ul class="items-stretch hidden space-x-3 lg:flex">
                        <li class="flex">
                            <a rel="noopener noreferrer" href="/epsilon"
                                class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:underline-offset-4 hover:underline">Link</a>
                        </li>
                        <li class="flex">
                            <a rel="noopener noreferrer" href="#"
                                class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:underline-offset-4 hover:underline">Link</a>
                        </li>
                        <li class="flex">
                            <a rel="noopener noreferrer" href="#"
                                class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:underline-offset-4 hover:underline">Link</a>
                        </li>
                        <li class="flex">
                            <a rel="noopener noreferrer" href="#"
                                class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:underline-offset-4 hover:underline">Link</a>
                        </li>
                    </ul>
                </div>
                <a href="/login">
                    <div class="items-center flex-shrink-0 hidden lg:flex">
                        <button
                            class="px-10 py-2 font-semibold rounded-r-full rounded-bl-full hover:border-2 hover:border-yellow-600 hover:text-yellow-600 hover:bg-transparent bg-yellow-600 text-gray-50">Log
                            in</button>
                </a>
            </div>
            <button class="p-4 lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 h-6 text-gray-800">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </button>
            </div>
        </header>
        <div class="flex flex-cols ">
            <div class="w-2/3">
                <div class="h-[30vh]  px-20 relative">
                    <h1 class="text-6xl absolute font-bold text-yellow-600">Hi, Ann.<br>Check your <br>progress 👋🏻
                    </h1>
                    <div
                        class="absolute top-5 rounded-3xl right-20 justify-end h-12 w-52 bg-yellow-800 flex flex-cols justify-center items-center text-white">
                        📆 &nbsp;&nbsp; &nbsp;29 Jul</div>
                </div>
                <div class="h-[70vh] px-20 relative">
                    <div class="grid gap-5">
                        <div class="h-[21vh] flex flex-cols  gap-10 ">
                            <div class="w-1/2 bg-yellow-600 rounded-3xl px-10 text-white drop-shadow-2xl">
                                <h1 class="text-3xl mt-5 mb-5"> Your Progress </h1>
                                <div class="h-6 w-full bg-white rounded-full mb-2">


                                </div>
                                <span class="text-xl ">69% Tasks Completed 🥳</span>
                            </div>
                            <div
                                class="w-1/2 bg-yellow-600 drop-shadow-2xl rounded-3xl px-10 text-white gap-5 flex flex-cols justify-center items-center">
                                <h1 class=" mb-5  mt-5">Next Delivery scheduled</h1>
                                <h1 class="font-bold mt-5 mb-5 px-16 py-2 bg-yellow-800 rounded-3xl ">1 Aug 2023 </h1>
                            </div>
                        </div>
                        <div class="h-[25vh] flex flex-cols  gap-5">
                            <div
                                class="w-1/6 bg-yellow-600 drop-shadow-2xl rounded-3xl text-white text-3xl flex flex-cols justify-center items-center">
                            </div>
                            <div
                                class="w-3/4 bg-yellow-600 drop-shadow-2xl rounded-3xl flex flex-cols justify-center items-center text-white px-10">
                                <div class="grid">
                                    <p class="mt-5 text-center text-2xl " style="font-family: 'Boska', serif;">"Sirf yeh
                                        kehne se ki teacher ko padhana nahi aata se ghar nahi chalega tera"</p>

                                    <DIV class=" flex flex-cols justify-center items-center">
                                        <div class="w-20 h-1 bg-yellow-800 mt-3 rounded-full"></div>

                                    </DIV>
                                    <p class="mt-3  text-gray-200 text-center">Baba Ranchod Das</p>
                                </div>
                            </div>
                            <div class="w-1/6 bg-yellow-600 drop-shadow-2xl rounded-3xl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-[30vw] h-[80vh] rounded-3xl bg-yellow-800 p-10">
                <div class="flex flex-cols justify-center items-center">
                    <div class="grid">
                        <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
                            class="w-40 rounded-full  h-40">
                        <h1 class="text-white text-2xl text-center mt-5">Mr. Ann</h1>
                    </div>
                    
                </div>
                <div class="flex flex-cols justify-center items-center">
                <div class="grid grid-cols-2 grid-rows-2 gap-5 mt-10">
                    <div class="h-32 w-32 bg-white rounded-3xl flex flex-cols justify-center items-center">
                        <h1 class="text-xl text-center font-bold">Feature<br><span class="text-center text-xl font-light">About</span></h1>
                    </div>

                    <div class="h-32 w-32 bg-white rounded-3xl flex flex-cols justify-center items-center">
                        <h1 class="text-xl text-center font-bold">Feature<br><span class="text-center text-xl font-light">About</span></h1>
                    </div>

                    <div class="h-32 w-32 bg-white rounded-3xl flex flex-cols justify-center items-center">
                        <h1 class="text-xl text-center font-bold">Feature<br><span class="text-center text-xl font-light">About</span></h1>
                    </div>

                    <div class="h-32 w-32 bg-white rounded-3xl flex flex-cols justify-center items-center">
                        <h1 class="text-xl text-center font-bold">Feature<br><span class="text-center text-xl font-light">About</span></h1>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>