{% extends 'base.html' %}
{% block content %}
<div class="flex flex-cols ">
    <div class="w-2/3">
        <div class="h-[30vh]  px-20 relative">
            <h1 class="text-5xl absolute font-bold text-yellow-600">Hi, Ann.<br>Check your <br>progress 👋🏻
            </h1>
            <div
                class="absolute top-5 rounded-3xl right-20 justify-end h-12 w-52 bg-yellow-800 flex flex-cols justify-center items-center text-white">
                📆 &nbsp;&nbsp; &nbsp;29 Jul</div>
        </div>
        <div class="h-[70vh] px-20 relative">
            <div class="grid gap-5">
                <div class="h-[21vh] flex flex-cols  gap-10 ">
                    <div class="w-1/2  h-[40vwh] bg-yellow-600 rounded-3xl px-10 text-white drop-shadow-2xl">
                        <h1 class="text-2xl mt-5 mb-2"> Your Progress </h1>
                        <div class="h-3 w-full bg-white rounded-full mb-2">


                        </div>
                        <span class=" ">69% Tasks Completed 🥳</span>
                    </div>
                    <div
                        class="w-1/2 bg-yellow-600 drop-shadow-2xl rounded-3xl px-10 text-white gap-5 flex flex-cols justify-center items-center">
                        <h1 class=" mb-5  mt-5">Next Delivery scheduled</h1>
                        <h1 class="font-bold mt-5 mb-5 px-16 py-2 bg-yellow-800 rounded-3xl ">1 Aug 2023 </h1>
                    </div>
                </div>
                <div class="h-[26vh] flex flex-cols  gap-5">
                    <div
                        class="w-1/6 bg-yellow-600 drop-shadow-2xl rounded-3xl text-white text-3xl flex flex-cols justify-center items-center">
                    </div>
                    <div
                        class="w-3/4 h-[26vh] bg-yellow-600 drop-shadow-2xl rounded-3xl flex flex-cols justify-center items-center text-white px-10">
                        <div class="grid">
                            <p class="mt-2 text-center text-xl " style="font-family: 'Boska', serif;">"Sirf yeh
                                kehne se ki teacher ko padhana nahi aata se ghar nahi chalega tera"</p>

                            <DIV class=" flex flex-cols justify-center items-center">
                                <div class="w-20 h-1 bg-yellow-800 mt-3 rounded-full"></div>

                            </DIV>
                            <p class="mt-2  text-gray-200 text-center">Baba Ranchod Das</p>
                        </div>
                    </div>
                    <div class="w-1/6 bg-yellow-600 drop-shadow-2xl rounded-3xl"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-[30vw] h-[80vh] rounded-3xl bg-yellow-800 p-10">
        <div class="flex flex-cols justify-center items-center">
            <div class="grid">
                <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
                    class="w-20 rounded-full  h-20">
                <h1 class="text-white text-2xl text-center mt-3">Mr. Ann</h1>
            </div>
            
        </div>
        <div class="flex flex-cols justify-center items-center">
        <div class="grid grid-cols-2 grid-rows-2 gap-5 mt-6">
            <div class="h-28 w-32 bg-white rounded-3xl flex flex-cols justify-center items-center">
                <h1 class="text-xl text-center font-bold">Feature<br><span class="text-center text-xl font-light">About</span></h1>
            </div>

            <div class="h-28 w-32 bg-white rounded-3xl flex flex-cols justify-center items-center">
                <h1 class="text-xl text-center font-bold">Feature<br><span class="text-center text-xl font-light">About</span></h1>
            </div>

            <div class="h-28 w-32 bg-white rounded-3xl flex flex-cols justify-center items-center">
                <h1 class="text-xl text-center font-bold">Feature<br><span class="text-center text-xl font-light">About</span></h1>
            </div>

            <div class="h-28 w-32 bg-white rounded-3xl flex flex-cols justify-center items-center">
                <h1 class="text-xl text-center font-bold">Feature<br><span class="text-center text-xl font-light">About</span></h1>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
        {% endblock content %}