{% extends 'base.html' %}
{% block content %}
<div class="flex flex-col justify-center items-center h-screen -mt-20  ">
    <div class="h-80 w-[50rem] bg-yellow-600 rounded-3xl flex flex-cols">
        <div class="w-1/2 flex flex-cols justify-center items-center">
            <img src="{{url_for('static', filename='testi.png')}}" class="w-[90rem]">
        </div>
        <div class="w-1/2 p-10">
            <h1 class="text-3xl text-yellow-800 font-bold">
                Get access to all premium features with Epsilon
            </h1>
            <form action="/charge" method="post">
                <h1 class="text-xl text-white/70 font-bold mb-10">
                    Now available for Just<br>
                    <S class="bg-yellow-800 px-2 py-1 rounded-full  ">₹699</S> &nbsp;₹599/mo
                </h1>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="EPSILON Monthly Fee" data-amount="599" data-locale="auto"></script>
            </form>

        </div>
        <br>
    </div>
    <div class="bg-yellow-800 p-4 rounded-3xl mt-5 text-white text-center font-bold">
        <h1>For DEMO purposes click the following link</h1><br>
        <a href="{{url_for('prem')}}" class=" bg-yellow-600 transition ease-in-out delay-100 hover:translate-1 hover:scale-110 duration-300 px-4 py-2 rounded-full shadow-lg cursor-pointer border border-yellow-800">DEMO LINK FOR PREMIUM</a>
    </div>
</div>
{% endblock content %}