{% extends 'base.html' %}
{% block content %}


<div class="flex flex-col items-center justify-center min-h-[70vh]">
    <div class="w-full max-w-md">
      <div class="bg-[#cdb891] rounded-lg shadow-lg px-8 py-6">
        <h1 class="text-2xl mb-6 text-center">Sign in</h1>
        <form method="POST" class="mt-10" onsubmit="return validateForm()">
          {{ form.hidden_tag() }}
          <label for="email">Email Address</label>
          {{ form.email(class='w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-[#a18167] focus:border-2 border-2 border-transparent transition-all 2s', placeholder='user@example.com') }}
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <small class="error">{{ error }}</small>
            {% endfor %}
          {% endif %}
          <br>
          <label for="password" class="mt-2">Password</label>
          {{ form.password(class='w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-[#a18167] focus:border-2 border-2 border-transparent focus:transition-all 2sp-5 text-xl w-full h-12 border-2 mt-2 border-black', placeholder='••••••') }}
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <small class="error">{{ error }}</small>
            {% endfor %}
          {% endif %}
          {{ form.submit(class="w-full bg-[#a18167] text-white text-lg font-semibold py-2 rounded-md mt-4") }}
        </form>
      </div>
    </div>
  </div>

  <script>
    function showErrorModal(message) {
      const errorModal = document.getElementById("errorModal");
      const modalContent = errorModal.querySelector(".bg-yellow-800");
      modalContent.innerText = message;
      errorModal.classList.remove("hidden");
      setTimeout(() => {
        errorModal.classList.add("hidden");
      }, 500); // Hide the modal after 7 seconds
      return false; // Prevent form submission
    }

    function validateForm() {
      const emailInput = document.getElementById("email");
      const emailValue = emailInput.value;
      // Add your own email validation logic here
      // For simplicity, let's check if the email contains '@'
      if (!emailValue.includes('@')) {
        showErrorModal("Invalid email format!");
        return false; // Prevent form submission
      }
      // Add other form validation checks here if needed
      return true; // Allow form submission
    }
  </script>

{% endblock content %}
