{% extends 'base.html' %}
{% block content %}


  <div class="h-screen w-screen flex flex-cols justify-center items-center ">
   
    <div class="w-2/3 flex flex-cols px-20 justify-center items-center h-screen -mt-32">
        <div class="grid">
           
            <h1 class="text-4xl font-light">Sign in or create an account</h1>
            <form action="/login" methon="post" class="mt-10">
                {{form.hidden_tag()}}
                {{form.csrf_token}}
                <label for="email">Email Address</label>
                {{form.email(class='p-5 text-xl w-full h-12 border-2 mt-2 border-black', placeholder='user@example.com')}}
                <label for="email">Password</label>
                 {{form.password(class='p-5 text-xl w-full h-12 border-2 mt-2 border-black', placeholder='••••••')}}
                 {% if mess %}
                 <div>
                     {{mess.replace('.', '')}}.
                 </div>
                 {% endif %}
                <button type="submit" class="w-full h-12 bg-black text-white mt-5">CONTINUE WITH EMAIL</button>

            </form>
          
        </div>
    </div>
</div>
{% endblock content %}