{% extends 'base.html' %}
{% block content %}
        <div class=" bg-[#FFFAF7] flex items-center p-5 lg:p-10 overflow-hidden relative">
            <div
                class="w-full max-w-6xl rounded  p-10 lg:p-20 mx-auto text-gray-800 relative md:text-left">
                <div class="md:flex items-center -mx-10">
                    <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
                        <div class="relative">
                           <Div class="flex flex-cols justify-center items-center"> <img src="{{url_for('static', filename='default.png')}}"
                                class="  h-96 relative z-10" alt="">
                            <div class="border-4 border-yellow-800 absolute top-10 bottom-10 left-10 right-10 z-0">
                            </div></Div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 px-10">
                        <div class="mb-10">
                            <h1 class="font-bold uppercase text-2xl mb-5">{{prod.name}}</h1>
                            <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Eos,
                                voluptatum dolorum! Laborum blanditiis consequatur, voluptates, sint enim fugiat saepe,
                                dolor fugit, magnam explicabo eaque quas id quo porro dolorum facilis... <a href="#"
                                    class="opacity-50 text-gray-900 hover:opacity-100 inline-block text-xs leading-none border-b border-gray-900">MORE
                                    <i class="mdi mdi-arrow-right"></i></a></p>
                        </div>
                        <div>
                            <div class="inline-block align-bottom mr-5">
                          
                                <span class="font-bold text-5xl leading-none align-baseline">₹{{prod.price}}</span>
                               
                            </div>
                            <div class="inline-block align-bottom">
                                <button
                                    class="px-10 py-2 font-semibold rounded-r-full rounded-bl-full hover:border-2 hover:border-yellow-600 hover:text-yellow-600 hover:bg-transparent bg-yellow-600 text-gray-50"><i
                                        class="mdi mdi-cart -ml-2 mr-2"></i> BUY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class=" py-20 h-[100vh] w-full absolute">
            <div class="h-[60vh] rounded-3xl ml-32 w-[50vh] bg-yellow-800 p-5">
                <div class="text-yellow-600 font-bold text-2xl">{{prod.name}}</div>
                <div class="mt-2"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon
                        name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
                <Div class="text-gray-100 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sed,
                    possimus amet autem adipisci rem suscipit ipsam saepe quasi excepturi, accusantium aperiam. A ex
                    quod eveniet voluptate, voluptas asperiores quis.</Div>
                <div class="text-6xl font-bold text-yellow-600  mt-10">₹{{prod.price}}</div>
                <a href="/addtocart/{{prod.id}}"> <button
                        class="px-10 py-2 mr-5 font-semibold rounded-r-full rounded-bl-full mt-5  hover:border-2 hover:border-yellow-600 hover:text-yellow-600 hover:bg-transparent bg-yellow-600 text-gray-50">Add
                        to cart</button></a>
            </div>
        </div> -->
    </Div>
    {% endblock content %}