<meta charset="UTF-8">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&f[]=panchang@600&display=swap" rel="stylesheet">
{% block content %}


<body style="font-family: 'Satoshi', sans-serif;" class=" relative bg-[url('{{url_for('static', filename='default.png')}}')] bg-cover ">
    <header class="p-4 text-gray-800  bg-transparent">
        <div class="container flex justify-between h-16 mx-auto">
            <div class="flex">
                <a rel="noopener noreferrer" href="/" aria-label="Back to homepage" class="flex items-center p-2">
                    <img src="{{url_for('static', filename='logo.png')}}" class=w-16>
                </a>
                <ul class="items-stretch hidden space-x-3 lg:flex">
                    <li class="flex">
                        <a rel="noopener noreferrer" href="/epsilon"
                            class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:underline-offset-4 hover:underline">Link</a>
                    </li>
                    <li class="flex">
                        <a rel="noopener noreferrer" href="#"
                            class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:underline-offset-4 hover:underline">Link</a>
                    </li>
                    <li class="flex">
                        <a rel="noopener noreferrer" href="#"
                            class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:underline-offset-4 hover:underline">Link</a>
                    </li>
                    <li class="flex">
                        <a rel="noopener noreferrer" href="#"
                            class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:underline-offset-4 hover:underline">Link</a>
                    </li>
                </ul>
            </div>
            <a href="/login">
                <div class="items-center flex-shrink-0 hidden lg:flex">
                    <button
                        class="px-10 py-2 font-semibold rounded-r-full rounded-bl-full bg-black text-white hover:text-black hover:bg-transparent hover:border-2 hover:border-black">Log
                        in</button>
            </a>
        </div>
        <button class="p-4 lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-6 h-6 text-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </button>
        </div>
    </header>
<div class=" py-32 h-[100vh] w-full absolute">
<div class="h-[60vh] rounded-3xl ml-32 w-[50vh] bg-white p-5">
    <div class="text-black font-bold text-2xl">{{prod.name}}</div>
    <div class="mt-2"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
    <Div class="text-gray-400 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sed, possimus amet autem adipisci rem suscipit ipsam saepe quasi excepturi, accusantium aperiam. A ex quod eveniet voluptate, voluptas asperiores quis.</Div>
    <div class="text-6xl font-bold mt-10">₹{{prod.price}}</div>
    <a href="/addtocart/{{prod.id}}">   <button class="mt-5 px-5 py-2 bg-black text-white hover:text-black hover:bg-white hover:border-2 hover:border-black rounded-full">Add to Cart</button></a>
</div>
</div>
{% endblock content %}