{% extends 'base.html' %}
{% block content %}

    <style>
      .pressed{

      }
    </style>
    <br><br>
    <div class="m-auto text-center min-h-[65vh]">
        <h1 style="font-family: 'Playfair Display', serif;" class="text-5xl font-semibold text-yellow-800">What Problems are you trying to tackle?</h1>
        <h2 class="text-lg font-semibold text-yellow-600">We will send you a set of NutriBoom bottles catering to your need every month at your doorstep!</h2>
        <div class="container text-lg mx-auto py-8">
        <div class="flex flex-wrap justify-center">
          <div class="flex space-x-4">
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                Stress
            </div>
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                High Blood Pressure
            </div>
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                Depression
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-center">
          <div class="flex space-x-4 mt-4">
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                Chronic Pain
            </div>
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                Insomnia
            </div>
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                Lack of Focus
            </div>
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                Weight Management
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-center">
          <div class="flex space-x-4 mt-4">
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                General Health
            </div>
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                Anger Management
            </div>
            <div class="option-btn transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 duration-300 px-4 py-2 bg-white rounded-full shadow-lg cursor-pointer border border-yellow-800">
                Loneliness
            </div>
          </div>
        </div>

      <div class="w-max mt-5 ml-[80vw] flex flex-cols justify-end">
        <a href="{{url_for('prem')}}"><button class="bg-yellow-600 mt-2 py-2 px-4 text-2xl text-white rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out delay-100 ">Next</button></a>

    </div>
      </div>
    </div>

    <script>  
      const optionButtons = document.querySelectorAll('.option-btn');
  
      optionButtons.forEach(button => {
        button.addEventListener('click', () => {
          button.classList.toggle('bg-yellow-600');
          button.classList.toggle('text-white');
        });
      });
    </script>
{% endblock content %}
